//
// Aside extended
//

// General mode(all devices)
// Mobile aside toggle
.aside-toggle-mobile {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  display: none;
  
  @media (max-width: 991px) {
    display: block;
  }
}

// Aside responsive
#kt_aside {
  @media (max-width: 991px) {
    position: fixed;
    left: -300px;
    transition: left 0.3s ease;
    z-index: 101;
    
    &.aside-show {
      left: 0;
    }
  }
}

// Overlay when aside open on mobile
.aside-overlay {
  display: none;
  
  @media (max-width: 991px) {
    &.show {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
      z-index: 100;
    }
  }
}

.aside {
	display: flex;
	flex-direction: column;
	width: get($aside-config, width, desktop);
	background-color: var(--#{$prefix}aside-bg-color);
	
	// Root links
	.menu {
		align-items: stretch;
		justify-content: center;

		> .menu-item {
			> .menu-link {
				padding: 0;

				.menu-icon {
					flex-shrink: 0;
					width: 45px;
					height: 45px;
					@include border-radius($border-radius);

					i,
					.svg-icon {
						color: #897870 !important;
					}
				}
									
				&:hover {
					.menu-icon {
						background-color: rgba($white, 0.1);

						i,
						.svg-icon {
							color: black !important;
						}
					}
				}

				&.active {
					.menu-icon {
						background-color: $white !important;

						i,
						.svg-icon {
							color: #897870 !important;
						}
					}
				}
			}

			&.here > .menu-link,
			&.show > .menu-link {
				.menu-icon {
					background-color: rgba($white, 0.1);

					i,
					.svg-icon {
						color: #897900 !important;
					}
				}
			}
		}	
	}

	// Custom button
	.btn-custom {
		@include button-custom-variant(
			$color: $white, 
			$icon-color: $white, 
			$border-color: null, 
			$bg-color: null, 
			$color-active: $white, 
			$icon-color-active: $white, 
			$border-color-active: null, 
			$bg-color-active: rgba($white, 0.1)
		);
	}
}

// Desktop mode
@include media-breakpoint-up(lg) {
	.aside {
		width: get($aside-config, width, desktop);

		// Fixed aside mode
		.aside-fixed & {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: get($aside-config, z-index);
		}

		// Static aside mode
		.aside-static & {
			position: relative;
			z-index: 1;
		}
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.aside {
		display: none;
		width: get($aside-config, width, tablet-and-mobile);
	}
}

@include color-mode(dark) {
	.aside {
		border-right: 1px solid $coal-100;
	}
}